<div class="news__wrapper">
	<div class="news">
		<div class="news__title-block">
			<p class="news__title">Новости</p>
			<div class="news__arrow-block">
				<div class="books__arrow-left">
					{% include "@assets/svg/arrow-left.svg" %}
				</div>
				<div class="books__arrow-right">
					{% include "@assets/svg/arrow-right.svg" %}
				</div>
			</div>
		</div>
		<div class="news__image-block">
			<div class="news__image-card">
				<img src="./svg/news-image.svg" alt="Logo">
				<div class="news__text-block">
					<p class="news__text-date">16 июня 2020</p>
					<p class="news__text-title">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</p>
					<p class="news__text-subtitle">
						18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
					</p>
					<button class="news__text-button">Читать</button>
				</div>
			</div>
			<div class="news__image-card news__image-card2">
				<img src="./svg/news-image2.svg" alt="Logo">
				<div class="news__text-block">
					<p class="news__text-date">16 июня 2020</p>
					<p class="news__text-title">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</p>
					<p class="news__text-subtitle">
						18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
					</p>
					<button class="news__text-button">Читать</button>
				</div>
			</div>
			<div class="news__image-card news__image-card3">
				<img src="./svg/news-image3.svg" alt="Logo">
				<div class="news__text-block">
					<p class="news__text-date">16 июня 2020</p>
					<p class="news__text-title">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</p>
					<p class="news__text-subtitle">
						18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
					</p>
					<button class="news__text-button">Читать</button>
				</div>
			</div>
		</div>
		<div class="news__open">
			<button class="news__open-button">Показать все новости</button>
		</div>
	</div>
</div>