<footer>
	<div class="footer__social-networks-mobile">
		<a href="#">
			{% include "@assets/svg/facebook-mobile.svg" %}
		</a>
		<a href="#">
			{% include "@assets/svg/vk-mobile.svg" %}
		</a>
		<a href="#">
			{% include "@assets/svg/instagram-mobile.svg" %}
		</a>
	</div>
	<div class="footer__input-wrapper">
		<div class="container">
			<div class="footer__input-block">
				{% include "@assets/svg/Logo.svg" %}
				<form class="footer__form" action="">
					<input class="footer__form-input" type="text" placeholder="Подписаться на рассылку">
					<button class="footer__form-button"></button>
					{% include "@assets/svg/Shape.svg" %}
				</form>
				<div class="footer__social-networks-desktop">
					<a href="#">
						{% include "@assets/svg/facebook-desktop.svg" %}
					</a>
					<a href="#">
						{% include "@assets/svg/instagram-desktop.svg" %}
					</a>
					<a href="#">
						{% include "@assets/svg/twitter-desktop.svg" %}
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="footer__nav">
			<div class="footer__list">
				<div class="footer__list-block">
					<p class="footer__list-title">Покупателям</p>
					{% include "@assets/svg/footer-arrow.svg" %}
				</div>
				<ul class="footer__list-ul">
					<li>Наша почта</li>
					<li>Оплата и доставка</li>
					<li>Вопросы и ответы</li>
				</ul>
			</div>
			<div class="footer__list">
				<div class="footer__list-block">
					<p class="footer__list-title">Издательство</p>
					{% include "@assets/svg/footer-arrow.svg" %}
				</div>
				<ul class="footer__list-ul">
					<li>О компании</li>
					<li>Авторам</li>
					<li>Вакансии</li>
					<li>Контакты</li>
				</ul>
			</div>
			<div class="footer__list">
				<div class="footer__list-block">
					<p class="footer__list-title">Книги</p>
					{% include "@assets/svg/footer-arrow.svg" %}
				</div>
				<ul class="footer__list-ul">
					<li>Все категории</li>
					<li>Бестселлеры</li>
					<li>Новинки</li>
					<li>Скидки и акции</li>
				</ul>
			</div>
			<div class="footer__list">
				<div class="footer__list-block">
					<p class="footer__list-title">Прайс-лист</p>
					{% include "@assets/svg/footer-arrow.svg" %}
				</div>
				<div class="footer__list-file">
					{% include "@assets/svg/footer-file.svg" %}
					<div class="footer__list-file-text">
						<p>Скачать прайс-лист</p>
						<p>PDF, 12 Mb</p>
					</div>
				</div>
			</div>
			<div class="footer__list footer__list-email">
				<div class="footer__list-email-title">
					<p class="footer__list-title">Телефон и Email</p>
				</div>
				<div class="footer__list-email-wrapper">
					<div class="footer__list-email-text">
						{% include "@assets/svg/Communication.svg" %}
						<p>market@estatut.ru</p>
					</div>
					<div class="footer__list-email-text">
						{% include "@assets/svg/Phone.svg" %}
						<p>8 (968) 660-65-50</p>
					</div>
				</div>
			</div>
			<div class="footer__list footer__list-privacy">
				<div class="footer__list-block footer__list-block-privacy">
					<p>Политика конфиденциальности</p>
					<p>Договор оферты</p>
				</div>
			</div>
			<div class="footer__list footer__list-number">
				<div class="footer__list-block footer__list-block-number">
					{% include '@assets/svg/Phone.svg' %}
					<p>8 (968) 660-65-50</p>
					{% include '@assets/svg/Interface.svg' %}
				</div>
			</div>
			<div class="footer__list footer__list-mail">
				<div class="footer__list-block footer__list-block-mail">
					{% include '@assets/svg/Communication.svg' %}
					<p>market@estatut.ru</p>
				</div>
			</div>
			<div class="footer__list footer__list-adress">
				<div class="footer__list-block footer__list-block-adress">
					{% include '@assets/svg/Geolocation.svg' %}
					<p>ул. Лобачевского, 92, корп. 2 119454, г. Москва</p>
				</div>
			</div>
			<div class="footer__list footer__list-publisher">
				<div class="footer__list-block footer__list-block-publisher">
					<p>© 2020 Издательство «Статут»</p>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<p class="footer__bottom-statut">© 2020 Издательство «Статут»</p>
			<div class="footer__bottom-block-text">
				<p class="footer__bottom-text">ул. Лобачевского, 92, корп. 2 119454, г. Москва</p>
				<p class="footer__bottom-text">Политика конфиденциальности</p>
				<p class="footer__bottom-text">Договор оферты</p>
			</div>
		</div>
	</div>
</footer>