<div class="columns">
	<div class="columns__block">
		<img src="./svg/column-watch.svg" alt="Logo">
		<div class="columns__block-text">
			<p class="columns__title-text">Быстрая доставка</p>
			<p class="columns__text">Доставим бесплатно от 2000 ₽ по всей России</p>
		</div>
	</div>
	<div class="columns__block columns__block-order2">
		<img src="./svg/column-star.svg" alt="Logo">
		<div class="columns__block-text">
			<p class="columns__title-text">Бонусная программа</p>
			<p class="columns__text">Дополнительная скидка 15% при регистрации</p>
		</div>
	</div>
	<div class="columns__block columns__block-order3">
		<img src="./svg/column-bag.svg" alt="Logo">
		<div class="columns__block-text">
			<p class="columns__title-text">Большой выбор</p>
			<p class="columns__text">Ежегодно выходит в свет более 100 книг</p>
		</div>
	</div>
	<div class="columns__block columns__block-order4">
		<img src="./svg/column-card.svg" alt="Logo">
		<div class="columns__block-text">
			<p class="columns__title-text">Безопасная оплата</p>
			<p class="columns__text">Плати безопасно и легко онлайн на нашем сайте</p>
		</div>
	</div>
</div>
